{% extends "base.html" %}
{% block body %}

<header>
<h1>Archive Box</h1>
</header>

<h2>Collections</h2>

<table>
    <thead><tr><th>Name</th><th>ID</th></tr></thead>
    <tbody>
{% for collection in collections %}
    <tr>
        <td><a href="/c/{{collection.id}}">{{ collection.name }}</a></td>
        <td>{{ collection.id }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

<h2>Inbox</h2>

<table>
    <thead><tr><th>Name</th><th>Add to Collection</th></thead>
    <tbody>
{% for file in scanned_files %}
    <tr>
        <td>{{ file.path }}</td>
        <td>
            <form method="post" action="/api/add_document">
                <input type="hidden" name="sdid" value="{{ file.sdid }}">
                <input type="hidden" name="filename" value="{{ file.path }}">
            {% for collection in collections %}
            <input type="submit" name="cid" value="{{collection.id}}">
            {% endfor %}
            </form>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>


{% endblock %}
