{% extends "base.html" %}
{% block header %}
<h1>Archive Box</h1>
{% endblock %}

{% block main %}

<h2>Collections</h2>

<table class="pure-table">
    <thead><tr><th>Name</th><th>ID</th></tr></thead>
    <tbody>
{% for collection in collections %}
    <tr>
        <td><a href="/c/{{collection.id}}">{{ collection.name }}</a></td>
        <td>{{ collection.id }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

<h2>Inbox</h2>

<table class="pure-table">
    <thead><tr><th>Name</th><th>Add to Collection</th></thead>
    <tbody>
{% for file in scanned_files %}
    <tr>
        <td>{{ file.path }}</td>
        <td>
            {% for collection in collections %}
            <form method="post" action="/api/add_document">
                <input type="hidden" name="sdid" value="{{ file.sdid.to_strid() }}">
                <input type="hidden" name="filename" value="{{ file.path }}">
                <input type="hidden" name="cid" value="{{ collection.id }}">
                <input type="submit" value="{{ collection.name }}">
            </form>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
